[submodule "bundle/command-t"]
	path = bundle/command-t
	url = http://github.com/wincent/command-t
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = http://github.com/itchyny/lightline.vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = http://github.com/airblade/vim-gitgutter
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/vim-syntastic/syntastic
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = http://github.com/junegunn/fzf.vim
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = http://github.com/junegunn/fzf.vim
[submodule "bundle/vim-smartinput"]
	path = bundle/vim-smartinput
	url = http://github.com/kana/vim-smartinput